{% extends "base.html" %}

{% block title %}Live Following{% endblock %}

{% block stylesheets %}
        <style type="text/css">
            html, body {
                height: 100%;
            }

            #sidebar {
                padding: 0.5%;
            }

            @media only screen and (max-width: 1023px) {
                body {
                    display: flex;
                    flex-direction: column;
                    min-height: 100%;
                }

                #sidebar {
                    flex-grow: 0;
                }

                #map {
                    border-top: 1px solid black;
                    flex-grow: 1;
                    padding-top: 1%;
                }

                #status {
                    margin-bottom: 8px;
                }

                #status dt {
                    float: left;
                    width: 140px;
                    clear: left;
                    text-align: right;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                #status dd {
                    margin-bottom: 4px;
                    margin-left: 160px;
                }

                #status dd:before, #status dd:after {
                    display: table;
                    content: " ";
                }

                #status dd:after {
                    clear: both;
                }
            }

            @media only screen and (min-width: 1024px) {
                #sidebar {
                    float: left;
                    width: 14%;
                }

                #map {
                    border-left: 1px solid black;
                    float: right;
                    height: 100%;
                    padding-left: 1%;
                    width: 83%;
                }
            }
        </style>
{% endblock %}

{% block body %}
        <div id="sidebar">
            <h1>Calindora Follow</h1>
            <dl id="status">
                <dt>Last Update Time</dt>
                <dd id="status_last_update_time"></dd>
                <dt>Latitude</dt>
                <dd id="status_latitude"></dd>
                <dt>Longitude</dt>
                <dd id="status_longitude"></dd>
                <dt>Altitude</dt>
                <dd id="status_altitude"></dd>
                <dt>Speed</dt>
                <dd id="status_speed"></dd>
                <dt>Bearing</dt>
                <dd id="status_bearing"></dd>
            </dl>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" checked id="switch_auto_center">
                <label class="form-check-label" for="switch_auto_center">Auto-Center Map</label>
            </div>
        </div>
        <div id="map"></div>
{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script type="text/javascript" src="/static/js/follow.js"></script>
        <script type="text/javascript">
            function initMap() {
                com.calindora.follow.follow().init("/api/v1/devices/{{ device_api_key }}/reports");
            }
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap" async></script>
{% endblock %}
